<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular file upload</title>
</head>

<body>
        <form method='post' action='' enctype="multipart/form-data">
        <input type=text name="n">
        <input type='file' name='fileUploaded'>
        <input type='file' name='fileUploaded1'>
        <input type='submit'>
 </body>
</html>